Django>=1.8.5
amqp>=1.4.7
anyjson>=0.3.3
decorator>=4.0.4
docker-py>=1.5.0
fleet>=0.1.2
requests>=2.8.1
djangorestframework>=3.2.4
markdown>=2.6.2
django-filter>=0.11.0
python-etcd>=0.4.2
djangorestframework-jwt>=1.7.2
pbkdf2>=1.3
mysqlclient>=1.3.7